{% extends 'MiniBlogApp/base.html' %}
{% load static %}

{% block tituloPagina %}
Inicio - MiniBlog

{% block contenidoPagina %}
<header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Inicio del sitio App coder desde django</h1>
                    <br>
                    <br>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock %}