{% extends 'homebase.html' %}

{% block title %} Blog Django {% endblock  %}

 {% block preloader %} {% include 'preloader.html' %} {% endblock  %}
 {% block header %} {% include 'header.html' %} {% endblock  %}
 {% block slide %} {% include 'slide.html' %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Registrar</title>
 </head>
 <body>
    <br> 
    <h1>Registrate</h1>
     <br>
     <form method = "post">
         {% csrf_token %}
         {{ form.as_p }}
         <br>
         <input class="btn btn-primary" type="submit" value="Registrar">
     </form>
     <br>
     <br>
 </body>
 </html>
<li>La información de cada campo debe ser distinta entre si.</li>
<li>Su contraseña debe contener al menos 8 caracteres.</li>
<li>Su contraseña no puede ser una clave utilizada comúnmente.</li>
<li>Su contraseña no puede ser completamente numérica.</li>
 {% endblock  %}
 
 {% block footer %} {% include 'footer.html' %} {% endblock  %}
 