<div class="main-banner header-text">
    <div class="container-fluid">
        <div class="owl-banner owl-carousel">
            {% for item in post_random %}
            <div class="Item" style="width: 35rem">
                <img src="{{item.image.url}}" class="card-img-top"alt="Image" width="350" height="350">
                <div class="item-content">
                    <div class="main-content">
                        <div class="meta-category">
                            <i><span>{{item.category}}</span></i>
                        </div>
                        <a href="/post/{{item.id}}/{{item.slug}}">
                            <h4>{{item.title}}</h4>
                        </a>
                        <ul class="post-info">
                            <li><a href="#">{{item.user.first_name}}</a></li>
                            <li>Last updated at {{item.updated_at|date:"d/m/Y"}}</li>
                            <li><a href="#">{{total}} Comentarios</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>